body {
    background-image: url(../images/bg_img.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}

.main {
    background-color: black;
    opacity: 0.7;
    border: 2px solid black;
    box-shadow: 0 4px 8px 0 orange, 
                0 6px 20px 0 white;
    margin: 5%;
    padding: 2.5% 5%;
}

h2, img, p, #btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2, #btn {
    color: brown;
    text-align: center;
    padding: 10px 10px;
    background-color: #FFFFCC;
    border: 2px solid #FF9966;
    border-radius: 10px;width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

p, #output {
    color: white;
    text-align: center;
    font-style: italic;
}

h2 {
    text-shadow: 2px 2px 4px black, 
                 0 0 4px yellow;
}

img {
    width: 40%;
    border: 2px solid #FF9966;
    border-radius: 40px;
}

#btn {
    width: 20%;
    font-weight: bold;
    margin-bottom: 15px;
    white-space: normal;
}

#output {
    font-size: 25px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
}

#btn:hover {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.3), 0 6px 20px 0 rgba(255, 255, 255, 0.27);
}